
#recap_prod{
    height:350px; font-size :13px; overflow : auto;
    
}

#filtre_prod{
    height:300px; overflow : auto; font-size :13px; 
}
#filtre_date{
    height:300px; overflow : auto;font-size :13px;
}
#prod thead{
    background-color: #FFC0CB ;color: white;
}

#prod_date thead{
    background-color: #FFC0CB ;color: white; 
}
h4{
    color :#778899;
    font-size: 30px;
}
#detail{
    display: none;
}
.container-fluide{
    padding :20px;
}

#kaka:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}
#kaka{
    max-width: 18rem;
}









